<form action="/signup" method="POST">
    <input type="email" name="email" placeholder="Ingresu su correo">
    <input type="password" name="=password" placeholder="Ingresu su contraseña">
    <p>¿No tienes cuentra?<a href="/signin.ejs">Crear una</a></p>

    <button type="submit">
    	Abrir sesion
    </button>
</form>
