<html>
<link rel="stylesheet" type="text/css" href="public/style/style.css">
<body>
    <form action="/registro" method="POST">
        <input type="text" name="nombre" placeholder="first name">
        <input type="text" name="apellido" placeholder="Last name">
        <input type="number" name="telefone" placeholder="Tel Movil">
        <input type="email" name="email" placeholder="Ingrese un correo">
        <input type="password" name="password" placeholder="Digite una contraseña">
        <input type="password" name="password" placeholder="Confirmar contraseña">

       <button type="submit" name="Registro">
           Guardad
        </button>
    </form>
</body>
</html>
